body{
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  background-color: #FFD4B2;
}

img{
  margin-top: 10px;
  box-shadow: 1px 1px 1px white;
  border-radius: 5px;
}
h1,h2{
  color: #1A0000;
  text-shadow: 0.5px 0.5px white;
}

.person {
  margin: 10px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #2DCDDF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}